@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

body {
    color: #150544 !important;
    font-family: 'Poppins', sans-serif !important;
}

a.navbar-brand {
    color: #150544;
    font-weight: 700;
    font-size: 2rem;
}

a.nav-link {
    color: #5A6772;
}

a.nav-link.active {
    color: #150544 !important;
    font-weight: 600;
}

li.nav-item button.btn {
    background-color: #150544 !important;
    border-radius: .5rem;
    width: 6.25rem;
    color: white;
}

.enterprise-features {
    padding: 6.25rem 0;
    background-image: url('/assets/images/wave-line-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.enterprise-features h1,
.friendly-packages h1 {
    font-size: 3rem;
    font-weight: bold;
}

.friendly-packages .card {
    border-radius: .5rem;
    border: none;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.05);
}

.friendly-packages .card-lifetime {
    border: 3px solid #150544;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.friendly-packages .card-lifetime .card-badge {
    background-color: #150544;
    width: 100%;
}

.friendly-packages .card-lifetime .card-badge p {
    width: 100%;
}

.friendly-packages .card-price {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.friendly-packages .card-price .period {
    font-size: 0.8rem;
}

.friendly-packages .card p {
    width: 90%;
}

.friendly-packages hr {
    margin: 1.5rem 0;
}

.friendly-packages ul li {
    margin-bottom: 1rem;
}

.friendly-packages .btn {
    font-size: 80%;
    border-radius: .5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    background-color: #6552FF;
    color: white;
}

.friendly-packages .btn-lifetime {
    background-color: #150544;
}

.friendly-packages .notes {
    padding: 5rem 0;
}

.friendly-packages .notes h6 a {
    color: #150544;
}

.manipulation {
    height: 32.5rem;
    background-color: #E7F6FF;
    margin-top: -32.5rem;
}

.testimoni {
    background-image: url('/assets/images/wave-line-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
    background-color: #150544;
    padding: 8rem 0;
}

.testimoni .qoute {
    height: 8.75rem;
}

/* media query */
@media (min-width: 992px) {
    .friendly-packages .card:hover {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .friendly-packages .card:hover .btn {
        opacity: 0.85;
    }
}

@media (max-width: 768px) {
    .enterprise-features {
        padding: 2.5rem 0;
    }

    .enterprise-features h1,
    .friendly-packages h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .friendly-packages .card-quarter {
        margin-bottom: 3rem;
    }

    .friendly-packages .card-lifetime .card-badge {
        margin-top: -1px;
    }
}

@media (max-width: 576px) {
    .testimoni {
        height: 36rem;
    }

    .testimoni .profile-picture img {
        margin-top: 5.6rem !important;
    }
}